@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
.row {
    display: flex;
    gap: 10px;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
}

mat-form-field {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

.btns {
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}