<div class="d-flex justify-content-center container-fluid p-3 m-1 ">
  <div class="card shadow p-3 mt-4">
    <div div id="filter">
      <div class="p-3">
        <button class="btn btn-dark" routerLink="/admin/addissues"> Add Issue </button>
      </div>
      <div class="p-3 mb-3 table-responsive border">
        <table class="table bg-black">
          <thead id="tableHead" class="thead-dark text-white jus">
            <tr>
              <th class="font-weight-bold" scope="col">Title</th>
              <th class="font-weight-bold" scope="col">Description</th>
              <th class="font-weight-bold" scope="col">Multiple Options</th>
              <th class="font-weight-bold" scope="col">Asset</th>
              <th class="font-weight-bold" scope="col">Vote Type</th>
              <th class="font-weight-bold" scope="col">Feedback</th>
              <th class="font-weight-bold" scope="col">Status</th>
              <th class="font-weight-bold" scope="col"></th>
              <th class="font-weight-bold" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let issues of data">
              <td class="bg-white">{{issues.issueTitle}}</td>
              <td class="bg-white">{{issues.issueDescription}}</td>
              <td class="bg-white">{{issues.allowMultipleOptions ? 'Allow' : 'Not Allow' }}</td>
              <td class="bg-white">{{issues.assets ? issues.assets.assetsTitle : ''}}</td>
              <td class="bg-white">{{issues.voteType.voteTypeTitle}}</td>
              <td class="bg-white">{{issues.allowFeedback ? 'Allow' : 'Not Allow'}}</td>
              <td class="bg-white"><a
                  [class]="issues.issueIsActive ? 'btn btn-outline-primary' : 'btn btn-outline-secondary'" (click)="updateStatus(issues.id,issues.issueIsActive)">{{issues.issueIsActive
                  ? 'Active' : 'Deactive'}}</a></td>
              <td class="bg-white "><a class="btn btn-outline-success" (click)="viewOptions(issues.id)">Options</a></td>
              <td class="bg-white "><a class="btn btn-outline-primary" (click)="editIssues(issues.id)">Edit</a></td>
              <td class="bg-white "><a class="btn btn-outline-danger" (click)="deleteIssues(issues.id)">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>