<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
      <div class="container-fluid d-flex align-items-center justify-content-center">
        <img src="assets/voting-and-approval-system-website-favicon-color.png" alt="vaas" class="vaas-icon">
        <h5 class="mx-3 my-0">Voting & approval System</h5>
      </div>
      <!-- <img src="assets/voting-and-approval-system-website-favicon-color.png" alt="vaas" class="vaas-icon">
      <h5>Voting & approval System</h5> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
<router-outlet></router-outlet>