<!-- <header class="d-flex flex-wrap align-items-centerv head justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0">
  </div>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <img src="assets/MicrosoftTeams-image (10).png" height="35" width="40"/>
      Voting and Approval System
  </ul>
    <div class="col-md-3 text-end"> -->
<!-- <button type="button" class="btn btn-outline-primary me-2" (click)="logout()">Logout</button> -->
<!-- </div>
</header> -->

<div class="background">
  <div class="card text-center" style="vertical-align:middle;">
    <div class="card-body">
      <h5 class="card-title">Hey Admin...Where you wanna go?</h5>
      <div class="card-text">
        <button type="button" class="btn btn-primary active" aria-current="page"
          (click)="this.userAuthService.setPreferdRole('Admin')" routerLink="/admin/assets">Admin Dashboard</button>
          <button type="button" class="btn btn-primary active" aria-current="page"
          (click)="this.userAuthService.setPreferdRole('Tenant')" routerLink="/user">User Dashboard</button>
      </div>
    </div>
  </div>
</div>