<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler border-white" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <i class="fal fa-sharp fa-light fa-bars sidenav-link-icon"></i>
    </button>
    <div class="logo-wrapper">
      <h5 class="company-logo"><img src="assets/logo.svg" /></h5>
    </div>
    <div class="user-profile d-flex">
      <h5>Welcome, {{ userFirstName }}</h5>
      <img [src]="userPhotoUrl" class="user-img">
    </div>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img src="assets/MicrosoftTeams-image (10).png"
            height="40" width="40">Voting & Approval System</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/admin/assets" routerLinkActive="active">
              <i class="fal fa-thin fa-landmark sidenav-link-icon"></i>
              <label>Assets</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/admin/votetypes" routerLinkActive="active">
              <i class="fal fa-light fa-person-booth sidenav-link-icon"></i>
              <label>Vote Types</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/admin/issues" routerLinkActive="active">
              <i class="fal fa-solid fa-exclamation sidenav-link-icon"></i>
              <label>Issues</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/admin/option" routerLinkActive="active">
              <i class="fal fa-thin fa-ballot-check sidenav-link-icon"></i>
              <label>Options</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/admin/showuser" routerLinkActive="active">
              <i class="fal fa-thin fa-person-sign sidenav-link-icon"></i>
              <label>Approve User</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/admin/voteround" routerLinkActive="active">
              <i class="fal fa-thin fa-ballot-check sidenav-link-icon"></i>
              <label>Voting Rounds</label>
            </a>
          </li>
        </ul>
      </div>
      <a class="bottom">
        <button mat-button type="button" color="warn" (click)="logout()">
          <i class="fa fa-sign-out sidenav-link-icon" aria-hidden="true"></i>
          Logout
        </button>
      </a>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>