.sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.active {
    background-color: #fff;

    .sidenav-link-icon,
    label {
        color: #000;
    }
}

.bottom {
    margin-bottom: 20px;
}

.title {
    color: #fff;
    align-items: center;
}

.nav-link {
    border-radius: 8px;
    margin-bottom: 20px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.sticky-footer {
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
}

h5{
    color: #fff;
    padding-right: 80%;
    position: static;
    margin-top: 10px;
}
.navbar-toggler{
    height: 40px;
}

.user-img{
    height: 50px;
    width: 50px;
}