<div class="d-flex justify-content-center p-3 m-1 container-fluid">
  <div class="card shadow p-3 mt-4">
    <div div id="filter">
      <div class="p-3">
        <h1>{{data ? 'Update Option' : 'Register New Option'}}</h1>
      </div>
      <div class="p-3 mb-3 table-responsive border">
        <form [formGroup]="optionForm" (ngSubmit)="data ? updateOption(data.id) : addOption()">
          <div class="row mb-3">
            <label for="optionTitle" class="col-sm-2 col-form-label">Option Title</label>
            <div class="col-sm-10">
              <input type="text" formControlName="optionTitle" class="form-control" id="optionTitle" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="optionDescription" class="col-sm-2 col-form-label">Option Description</label>
            <div class="col-sm-10">
              <textarea formControlName="optionDescription" class="form-control" id="optionDescription"
                required></textarea>
            </div>
          </div>
          <button type="submit" class="btn  btn-dark" [innerText]="data ? 'Update' : 'Add'"></button>
        </form>
      </div>
    </div>
  </div>
</div>