<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"> 
            <img src="assets/90920-flying-elephant-lightweight.png"  height="120" width="120" />
            <i class="bx bxl-dribbble"></i>
          </div>
          <h4>Light Weight</h4>
          <p>Ensuring optimal performance and effortless accessibility for all users</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/images1.png" height="100" width="100"/>
            <i class="bx bx-file"></i>
          </div>
          <h4>Accurate</h4>
          <p>Trust in the precision and reliability of our project, delivering accurate results that reflect the true voice of the voters.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/143586-authorization-gold.png" height="120" width="120"/>
            <i class="bx bx-tachometer"></i>
          </div>
          <h4>Authenticated</h4>
          <p> With robust authentication mechanisms in place,  maintaining the integrity of the voting process</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/secure.png" height="120" width="120"/>
            <i class="bx bx-layer"></i>
          </div>
          <h4>Secure</h4>
          <p>Incorporates robust security measures to safeguard against any unauthorized access or breaches.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/layer_318-187795.png" height="100" width="100"/>
            <i class="bx bx-slideshow"></i>
          </div>
          <h4>Multiple Types Of Voting</h4>
          <p> Offering a range of voting methods tailored to different scenarios, ensuring inclusivity and flexibility.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/118407-high-five.png" height="120" width="120"/>
            <i class="bx bx-arch"></i>
          </div>
          <h4>Share your Feedback</h4>
          <p>We value your input! Provide your valuable feedback to help us refine and enhance our project, ensuring it meets your needs and expectations.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->