<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div>
      <h1 class="logo"><img src="assets\logo2.svg" class="logo-wrapper"></h1>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/user/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link " routerLink="/user/voting" routerLinkActive="active">Voting</a></li>
        <li class="nav-item"><a class="nav-link " routerLink="/user/result" routerLinkActive="active">Result</a></li>
      </ul>
      <div class="d-flex dropdown">
        <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <h4 class="user-name">Welcome, {{ userFirstName }}</h4>
          <img [src]="userPhotoUrl" class="user-img">
        </a>
        <ul class="dropdown-menu" aria-labelledby="userDropdown">
          <li><a routerLink="/user/Profile" class="dropdown-item" (click)="userProfile(userEmail)">View Profile</a>
          </li>
          <li><a class="dropdown-item" routerLink="/user/voting-history">Voting History</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
  <ngx-ui-loader></ngx-ui-loader>
</div>