<header id="header" class="header">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <h1 class="logo"><img src="assets\logo2.svg" class="logo-wrapper"></h1>
    <nav id="navbar" class="navbar">
      <ul class="d-flex me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/user/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link " routerLink="/user/voting" routerLinkActive="active">Voting</a></li>
        <li class="nav-item"><a class="nav-link " routerLink="/user/result" routerLinkActive="active">Result</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <h4 class="user-name">Welcome, {{ userFirstName }}</h4>
            <img [src]="userPhotoUrl" class="user-img">
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a routerLink="/user/Profile" class="dropdown-item" (click)="userProfile(userEmail)">View Profile</a>
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<div>
  <router-outlet></router-outlet>
</div>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>bbd Softwere</h3>
          <p>
            Floor 7, Wing C Marisoft<br>
            Kalyani Nagar Annex<br>
            Wadgaon Sheri, Pune, Maharashtra 411014 <br><br>
            <strong>Phone:</strong>+91 020 6685 3600<br>
            <strong>Email:</strong> info@bbd.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> Home</li>
            <li><i class="bx bx-chevron-right"></i> About us</li>
            <li><i class="bx bx-chevron-right"></i> Services</li>
            <li><i class="bx bx-chevron-right"></i> Terms of service</li>
            <li><i class="bx bx-chevron-right"></i> Privacy policy</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> Web Design</li>
            <li><i class="bx bx-chevron-right"></i>Web Development</li>
            <li><i class="bx bx-chevron-right"></i>Product Management</li>
            <li><i class="bx bx-chevron-right"></i>Marketing</li>
            <li><i class="bx bx-chevron-right"></i>Graphic Design</li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>bbd Softwere</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bbd.co.za/">bbd Softwere</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>