  .sidenav-link-icon {
      font-size: 22px;
      width: 2rem;
      min-width: 2rem;
      margin: 0 0.5rem;
      text-align: center;
  }

  .active {
      background-color: #fff;

      .sidenav-link-icon,
      label {
          color: #000;
      }
  }

  .bottom {
      margin-bottom: 20px;
  }

  .nav-link {
      border-radius: 8px;
      margin-bottom: 20px;
  }