<div class="container">
  <div >
    <button class="nav-link btn  bg-black text-white" type="button" routerLink="/admin/addoption"> Add option </button>
 </div>
 <div class="overflow-x-auto w-full border">
    <table class="table table-hover mx-auto max-w-4xl w-full whitespace-nowrap rounded-lg bg-black divide-y divide-gray-300 overflow-hidden">
        <thead class="text-white text-left">
          <tr>
            <!-- <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">Id</th> -->
            <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">Title</th>
            <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">Description</th>
            <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">Attachment Path</th>
            <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">issue</th>
            <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">Status</th>
            <th class="font-semibold text-sm uppercase px-6 py-4" scope="col"></th>
            <th class="font-semibold text-sm uppercase px-6 py-4" scope="col"></th>

          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor ="let option of data">
            <!-- <th class="bg-white" scope="row">{{option.id}}</th> -->
            <td class="bg-white px-6 py-4">{{option.optionTitle}}</td>
            <td class="bg-white px-6 py-4">{{option.optionDescription}}</td>
            <td class="bg-white px-6 py-4">{{option.optionAttachmentPath}}</td>
            <td class="bg-white px-6 py-4">{{option.issue.issueTitle}}</td>
            <td class="bg-white px-6 py-4">{{option.optionIsActive}}</td>
            <td class="bg-white px-6 py-4"><a class="btn btn-outline-primary" (click)="editOption(option.id)">Edit</a></td>
            <td class="bg-white px-6 py-4"><a class="btn btn-outline-danger" (click)="deleteOption(option.id)">Delete</a></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>