<div class="d-flex justify-content-center p-3 m-1 container-fluid">
  <div class="card shadow p-3 mt-4">
    <div div id="filter">
      <div class="p-3">

      </div>
      <div class="p-3 mb-3 table-responsive border">
        <table class="table bg-black">
          <thead id="tableHead" class="thead-dark text-white">
            <tr>
              <th class="font-weight-bold" scope="col">Title</th>
              <th class="font-weight-bold" scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let votetype of data">
              <td class="bg-white">{{votetype.voteTypeTitle}}</td>
              <td class="bg-white overflow-hidden">{{votetype.voteTypeDescription}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>