<div class="container responsive">
    <div class="title">
      <button class="nav-link btn btn-outline-primary bg-black text-white" type="button" routerLink="/admin/addassets"> Add assets </button>
    </div>
    <div class="  overflow-x-auto w-full border">
      <table class="table  table-hover mx-auto max-w-4xl w-full whitespace-nowrap rounded-lg bg-black divide-y divide-gray-300 overflow-hidden">
          <thead class="text-white text-left">
            <tr>
              <!-- <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">Id</th> -->
              <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">Title</th>
              <th class="font-semibold text-sm uppercase px-6 py-4" scope="col">Description</th>
              <th class="font-semibold text-sm uppercase px-6 py-4" scope="col"></th>
              <th class="font-semibold text-sm uppercase px-6 py-4" scope="col"></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngFor ="let asset of data">
              <!-- <th class="bg-white" scope="row">{{asset.id}}</th> -->
              <td class="bg-white px-6 py-4">{{asset.assetsTitle}}</td>
              <td class="bg-white px-6 py-4">{{asset.assetsDescription}}</td>
              <td class="bg-white px-6 py-4"><a class="btn btn-outline-primary" (click)="editAssets(asset.id)">Edit</a></td>
              <td class="bg-white px-6 py-4"><a class="btn btn-outline-danger" (click)="deleteAssets(asset.id)">Delete</a></td>
            </tr>
          </tbody>
      </table>
  </div>
</div>

