<div class="d-flex justify-content-center p-3 m-1 container-fluid">
  <div class="card shadow p-3 mt-4">
    <div div id="filter">
      <div class="p-3">
        <button class="btn btn-dark" routerLink="/admin/addassets"> Add Assets</button>
      </div>
      <div class="p-3 mb-3 table-responsive border">
        <table class="table bg-dark">
          <thead id="tableHead" class="thead-dark text-white jus">
            <tr>
              <th class="font-weight-bold" scope="col">Title</th>
              <th class="font-weight-bold" scope="col">Description</th>
              <th class="font-weight-bold" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of data">
              <td class="bg-white ">{{asset.assetsTitle}}</td>
              <td class="bg-white ">{{asset.assetsDescription}}</td>
              <td class="bg-white "><a class="btn btn-outline-primary" (click)="editAssets(asset.id)">Edit</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>