.home-project {
    gap: 120px;
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: center;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: 160px;
  }