.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.card {
  position: relative;
  width: 320px;
  height: 400px; /* Set a fixed height for the cards */
  box-shadow: 0 10px 20px rgba(255, 254, 254, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: white;
  border: 2px solid #999999;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  height: 100%; /* Set the height to 100% */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .heading {
  font-weight: 350;
  font-size: 30px;
  margin-bottom: 10px;
  color: #000;
}

.content .para {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #000;
}

.content .btn {
  color: #fff8f8;
  text-decoration: none;
  padding: 8px 16px; /* Adjust the padding to make the button smaller */
  font-size: 14px; /* Decrease the font size */
  font-weight: 400;
  border: none;
  cursor: pointer;
  background: #2487ce;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%; /* Set a max-width to prevent the button from expanding */
}

.card:hover {
  box-shadow: 0 0 20px rgba(85, 132, 185, 0.8);
  border-color: #638cbb;
}

.content .btn:hover {
  outline: 2px solid #2e2e2e;
  background: transparent;
  color: #817d7d;
}

.content .btn:active {
  box-shadow: none;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto; /* Allow the height to adjust on smaller screens */
  }
}
