.btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: #0974f1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .btn:active {
    box-shadow: none;
  }
  
  .title
{
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
  
}

.feedback{
  text-align: center;
  font-weight: 200;
  margin-bottom: 25px;
}
.description{
  text-align: center;
  font-weight: 200;

}

.btn-dark{
  margin-top: 120px;
}

.card {
  position: relative;
  width: 320px;
  height: 400px; /* Set a fixed height for the cards */
  box-shadow: 0 10px 20px rgba(255, 254, 254, 0.2);
  padding: 32px;
  border-radius: 10px;
  background: white;
  border: 2px solid #999999;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  border-color: #638cbb;
}

.border {
  height: 365px;
}

.card-header:hover {
  box-shadow: 0 0 20px #638cbb; 
  border-color: #638cbb;
}

