    <div class="container d-flex">
      <div class="card container-fluid m-1">
       <div class="content">
          <p class="heading">{{ roundData.issue?.issueTitle }}</p>
          <form  [formGroup]="votingForm" (ngSubmit)="voting()">
            <div class="para form-group">
              <div class="row">
                <div class="para">
                  <div class="para" *ngFor="let option of optionData; let i = index">
                    <label class="form-label" [for]="'optionId' + i">{{ option.optionTitle }}</label>
                    <ng-container *ngIf="roundData.issue?.allowMultipleOptions; else radioOption">
                      <input class="form-check-input" type="checkbox" [value]="option.id" name="optionId"
                        [id]="'optionId' + i" [formControlName]="'optionId'" (change)="onChange()"
                        [(ngModel)]="option.isSelected" required>
                    </ng-container>
                    <ng-template #radioOption>
                      <input class="form-check-input" type="radio" [value]="option.id" [id]="'optionId' + i"
                        [formControlName]="'optionId'" (change)="onChange()" [(ngModel)]="option.isSelected" required>
                    </ng-template>
                    <div class="para col">
                      <input class="form-control" type="text" *ngIf="roundData.issue?.voteType.voteTypeTitle == 'Instant-runoff'"
                        name="preference">
                    </div>
                  </div>
                  <div class="para" *ngIf="roundData.issue?.allowFeedback" >
                    <label for="">Feedback</label>
                    <textarea class="form-control" [formControlName]="'feedback'"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn">Vote</button>
            </div>
          </form>
        </div>
      </div>
    </div>