<div class="container-fluid">
    <h2>{{ roundData.issue?.issueTitle }}</h2>
</div>
<form [formGroup]="votingForm" (ngSubmit)="voting()">
    <div class="form-group">
        <div class="row">
            <div class="justify-content-left">
                <div class="form-check col" *ngFor="let option of optionData; let i = index">
                    <label class="form-label" [for]="'optionId' + i">{{ option.optionTitle }}</label>
                    <ng-container *ngIf="roundData.issue?.allowMultipleOptions; else radioOption">
                        <input class="form-check-input" type="checkbox" [value]="option.id" name="optionId"
                            [id]="'optionId' + i" [formControlName]="'optionId'" (change)="onChange()" [(ngModel)]="option.isSelected" required>
                    </ng-container>
                    <ng-template #radioOption>
                        <input class="form-check-input" type="radio" [value]="option.id" 
                            [id]="'optionId' + i" [formControlName]="'optionId'" (change)="onChange()" [(ngModel)]="option.isSelected" required>
                    </ng-template>
                    <div class="col">
                        <input class="form-control" type="text" *ngIf="roundData.issue?.voteType.voteTypeTitle == 'Instant-runoff'" name="preference">
                    </div>
                </div>
                <div *ngIf="roundData.issue?.allowFeedback" class="justify-content-left form-check col">
                    <label for="">Feedback</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <button type="submit" class="btn btn-success">Vote</button>
    </div>
</form>
