<!-- <div>
<div class="card center" style="width: 36rem;">
<form #loginForm="ngForm" (ngSubmit)="login(loginForm)"> 
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type = "text"
            ngModel
            name="userEmail"
            id="userEmail"
            placeholder="Enter Your Email"
            class="form-control mb-3"
            >
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" value="Login">Login</button>
  </form> -->

  <div>
    <div class="card center" style="width: 12rem;">
      <form>
        <div class="btn-container">
          <button type="button" class="btn btn-dark" (click)="signInWithGoogle()">
            <img src="assets/google.png" alt="Google" class="google-icon"> Sign in with Google
          </button>
        </div>
      </form>
    </div>
  </div>
  
  
  

<!--   
  </div>
</div> -->
