<div class="d-flex justify-content-center p-3 m-1 container-fluid">
  <div class="card shadow p-3 mt-4">
    <div div id="filter">
      <div class="p-3">
        <h1>Issues Form</h1>
      </div>
      <div class="p-3 mb-3 table-responsive border">
        <form [formGroup]="issuesForm" (ngSubmit)="data ? updateIssues(data.id) : addIssues()">
          <div class="row mb-3">
            <label for="issueTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input type="text" formControlName="issueTitle" class="form-control" id="issueTitle" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="issueDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea formControlName="issueDescription" class="form-control" id="issueDescription"
                required></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <label for="allowMultipleOptions" class="col-sm-2 col-form-label">Allow Multiple Options</label>
            <div class="col-sm-10">
              <input type="checkbox" formControlName="allowMultipleOptions" id="allowMultipleOptions">
            </div>
          </div>
          <div class="row mb-3">
            <label for="asset" class="col-sm-2 col-form-label">Asset</label>
            <div class="col-sm-10">
              <select formControlName="assets" class="form-select" id="asset">
                <option *ngFor="let asset of assetsData" [value]="asset.id">{{ asset.assetsTitle }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="voteType" class="col-sm-2 col-form-label">Vote Type</label>
            <div class="col-sm-10">
              <select formControlName="voteType" class="form-select" id="voteType" required>
                <option *ngFor="let voteType of voteTypesData" [value]="voteType.id">{{ voteType.voteTypeTitle }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="allowFeedback" class="col-sm-2 col-form-label">Allow Feedback</label>
            <div class="col-sm-10">
              <input type="checkbox" formControlName="allowFeedback" id="allowFeedback">
            </div>
          </div>
          <button type="submit" class="btn btn-dark" [innerText]="data ? 'Update' : 'Add'"></button>
        </form>
      </div>
    </div>
  </div>
</div>