<div class="container title">
    <h1>Roles Form</h1>
  </div>
  <div class="container regestration-form">
    <form [formGroup]="RoleForm" (ngSubmit)="addRole(data.id)">
      <div class="row mb-3">
        <label for="role" class="col-sm-2 col-form-label">Roles</label>
        <div class="col-sm-10">
          <select formControlName="role" class="form-select" id="role">
            <option *ngFor="let role of roleData" [value]="roleData.id"
              >{{ roleData.role }}</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [innerText]="data ? 'Update' : 'Add'"></button>
    </form>
  </div>